{% extends 'index.html' %}

{% block content %} 

    <h1 class="text-center">Please check if the information below is correct before proceeding</h1>
    <div class="mt-3 container bg-light">
        {% if order_items|length > 0 %}
            <div class="row">
                <div class="col p-0 table-responsive">
                    <table class="table table-bordered border-success text-center mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Order# {{order_id}}</th>
                                <th scope="col">Item</th>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_items %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <div>
                                            <img src="{{item.image}}" alt="" style="width:5vw; height:5vh;">
                                        </div>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>
                                        <p>{{item.quantity}}</p>
                                    </td>
                                    <td><label id='totalPrice{{item.id}}'>{{item.total_price}}</label></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex mt-3">
                        <div class="">
                            <div class="d-flex">
                                <form action="{% url 'order:view_cart'%}" method="get">
                                    <button class="btn btn-warning"><i class="bi bi-chevron-left"></i> Back to cart</button>
                                </form>
                                <form action="{% url 'order:checkout'%}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="confirm" class="btn btn-success mx-3">Confirm <i class="bi bi-check"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <h3>Total Cost: <strong class="h2 text-success">&#2547;<span id='totalCost'>{{total_cost}}</span>.00</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}